params {
    // Show help message
    help = false
    //version
    version = false
    // Default directory for input reads
    reads = false
    // Default output directory
    output = "$projectDir/output"
    //default reference
    reference = false
    lite = false

    // Default values for QC
    //spneumo_percentage = 60.00
    ref_coverage = 60.00
    het_snp_site = 220
    contigs = 500
    //length_low = 1900000
    //length_high = 2300000
    depth = 20.00
}

// Set process container images
process {
    withLabel: bash_container {
        container = 'wbitt/network-multitool:69aa4d5'
    }
    withLabel: git_container{
        container = 'bitnami/git:2.39.0'
    }
    withLabel: python_container {
        container = 'python:3.11.1-bullseye'
    }
    withLabel: bwa_container {
        container = 'staphb/bwa:0.7.17'
    }
    withLabel: samtools_container {
        container = 'staphb/samtools:1.16'
    }
    withLabel: bcftools_container {
        container = 'staphb/bcftools:1.16'
    }
    withLabel: fastp_container {
        container = 'staphb/fastp:0.23.2'
    }
}

// Set parameters of different run environments
profiles {
    // Default Profile for local machine
    // Docker as container engine, execute by local machine
    standard {
        process{
            executor = 'local'
        }
        docker {
            enabled = true
            runOptions = '-u $(id -u):$(id -g)'
        }
    }

    // Alternative Profile for local machine
    // Singularity as container engine, execute by local machine
    singularity {
        params.singularity_cachedir = "$projectDir/singularity_cache"

        singularity {
            enabled = true
            autoMounts = true
            cacheDir = params.singularity_cachedir
        }
    }
}