params {
    // Show help message
    help = false

    //version
    version = false
    
    // Default directory for input reads
    reads = false
    
    // Default output directory
    output = "$projectDir/output"

    //default reference
    reference = false

    //lite profile to delete unwanted SAM & BAM
    lite = false

    // Default values for QC
    ref_coverage = 60.00
    het_snp_site = 220
    depth = 20.00
    contigs = 500
    // Default minimum contig length
    min_contig_length = 500
}

// Set process container images
process {
    withLabel: bash_container {
        container = 'wbitt/network-multitool:69aa4d5'
    }
    withLabel: git_container{
        container = 'bitnami/git:2.39.0'
    }
    withLabel: python_container {
        container = 'python:3.11.1-bullseye'
    }
    withLabel: bwa_container {
        container = 'quay.io/biocontainers/bwa:0.7.3a--he4a0461_9'
    }
    withLabel: samtools_container {
        container = 'quay.io/biocontainers/samtools:1.17--hd87286a_1'
    }
    withLabel: bcftools_container {
        container = 'quay.io/biocontainers/bcftools:1.17--h3cc50cf_1'
    }
    withLabel: fastp_container {
        container = 'quay.io/biocontainers/fastp:0.23.2--hadf994f_5'
    }
    withLabel: shovill_container {
        container = 'staphb/shovill:1.1.0-2022Dec'
    }
    withLabel: quast_container {
        container = 'staphb/quast:5.0.2'
    }    
}

// Set parameters of different run environments
profiles {
    // Default Profile for local machine
    // Docker as container engine, execute by local machine
    standard {
        process{
            executor = 'local'
        }
        docker {
            enabled = true
            runOptions = '-u $(id -u):$(id -g)'
        }
    }

    // Alternative Profile for local machine
    // Singularity as container engine, execute by local machine
    singularity {
        params.singularity_cachedir = "$projectDir/singularity_cache"

        singularity {
            enabled = true
            autoMounts = true
            cacheDir = params.singularity_cachedir
        }
    }
}